name: Renovate
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        type: choice
        default: debug
        options:
          - debug
          - trace
      dryRun:
        description: 'Dry run?'
        type: choice
        default: 'no'
        options:
          - 'no'
          - full
          - lookup
          - extract
concurrency:
  group: renovate-${{ github.ref }}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: renovatebot/github-action@v39.0.0
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
          renovate-version: 36.57.3
        env:
          LOG_LEVEL: ${{ github.event.inputs.logLevel || 'debug' }}
          RENOVATE_DRY_RUN: ${{ github.event.inputs.dryRun == 'no' && 'null' || github.event.inputs.dryRun || 'null' }}
